* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: rgba(78, 71, 255, 0.01);
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-special {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.width {
width: 1440px;
}


/*header styles*/

.header {
  background-image: url('../css/images/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 1440px;
  height: 688px;
  padding-bottom: 200px;
  gap: 158px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 150px;
  opacity: 1;


}

.nav-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 34px;
  line-height: 150%;
  letter-spacing: normal;
  color: rgba(78, 71, 255, 1);
}

.header-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  padding: 158px 117.5px;
}

.header-p {
  font-weight: 700;
  font-size: 65px;
  text-align: center;
  color: rgba(37, 36, 50, 1);
}

.header-p2 {
  padding-bottom: 37px;
}

.list-item {
  list-style: none;
}

.btn-primary{
    max-width: 132px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
    border: none;
    padding: 12px 36px;
    border-radius: 10px;
    white-space: nowrap;
}

.btn-stay-focoused {
  max-width: 174px;
  
}

.btn-get-started {
max-width: 195px;
}

.btn-live {
  max-width: 229px;
}

.btn-submit {
  max-width: 497px;
  width: 100%;
}


.btn-primary:hover {
    background-color: skyblue
}



/*Action section styles*/

.action-h1 {
  font-size: 42px;
  color:rgba(37, 36, 50, 1);
}

.action-p {
  font-weight: 400;
  font-style: regular;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  padding-top: 23px;
  padding-bottom: 23px;
  color:rgba(37, 36, 50, 0.5);
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}

.action-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 126px 150px 0px 150px;
}

.action-h1-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*User Section styles*/

.user-h1 {
  font-size: 38px;
  color:rgba(37, 36, 50, 1);
}

.blue-h1 {
  font-size: 80px;
  color:rgba(78, 71, 255, 1);
}

.action-p {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0px;
  color:rgba(0, 0, 0, 0.5);
}

.user-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
}

.user-section {
  background-color:rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 80px;
  gap: 10px;
  text-align: center;
  width: 1140px;
  max-height: 306px;
}

.user-adjust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 115px;
}



/*user comment section*/


.comment-h1 {
  padding-top: 135px;
  text-align: center;
  font-size: 42px;
  color:rgba(37, 36, 50, 1);
}


.card {
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  max-width: 360px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', sans-serif;
  margin: 20px auto;
}

.user-comment {
  padding: 16px;
  border-radius: 10px;
}

.stars img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.comment-title {
  max-width: 220px;
  max-height: 30px;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  padding-bottom: 10px;
  color:rgba(30, 30, 30, 1);
}

.comment-p {
  width: 318px;
  height: 44px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: normal;
  color:rgba(30, 30, 30, 1);
}

.reviewer {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  vertical-align: middle;
  color:rgba(117, 117, 117, 1);
}

.img-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.reviewer-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 600;
  font-size: 14px;
}

.date {
  line-height: 1.4;
  color:rgba(179, 179, 179, 1);
}

.reviewer-name {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 40px 150px;
}


/*Focus section styles*/

.focus-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.focus-section {
  width: 1140px;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 14px;
  padding: 70px 150px;
  gap: 20px;
  color: white;
}

.focus-h1 {
  font-size: 50px;
  line-height: 1.2;
  color:rgba(0, 0, 0, 1);
}

.focus-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0%;
  color:rgba(0, 0, 0, 0.5);
}

.focus-img {
  width: 840px;
  height: 365px;
  border-radius: 48px;
}


/*Get in touch styles*/


.get-touch {
  padding-top: 75px;
  padding-bottom: 35px;
  display: flex;
  gap: 115px;
}

.contact-column {
  width: 50%;
}

.text, .message {
  max-width: 497px;
  height: 70px;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid rgba(214, 221, 237, 1);
  padding: 20px 32px;
  gap: 10px;
  margin-bottom: 19px;
  margin-top: 10px;
  display: block;
  width: 100%;
  background-color:rgba(255, 255, 255, 1);
}

.message {
  height: 135px;
  line-height: 1.5;
}

.contact-h1 {
  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 150px;
  font-weight: 700;
  font-style: bold;
  font-size: 97px;
  line-height: 1.2;
  color:rgba(0, 0, 0, 1);
}

.form {
  padding-top: 71px;
  padding-bottom: 71px;
}


label {
  font-weight: 500;
  font-style: medium;
  font-size: 18px;
  line-height: 1.2;
  color:rgba(0, 0, 0, 1);
}
